//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  // padding: 30px;
  margin-bottom: 30px;
  font-size: (@font-size-base * 1.5);
  font-weight: 200;
  line-height: (@line-height-base * 1.5);
  color: @jumbotron-lead-color;
  background-color: @jumbotron-bg;
  text-align: center;

  @media screen and (max-width: @screen-phone) {
    font-size: (@font-size-base * 0.75);
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1px;
  }

  p {
    font-size: 1.25em;
    line-height: 1.25em;
    // padding: 0 15% 0 15%;
    color: @gray;
    margin-bottom: 15px;
  }


  h2 {
    line-height: 1.4;
    text-align: center;
  }

  @media screen and (min-width: @screen-tablet) {
    border-radius: @border-radius-large; // Only round corners at higher resolutions
    h1 {
      // font-size: (@font-size-base * 4.5);
    }
  }


}