// Web fonts

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/proxima-nova/proximanova-regular-webfont.eot');
    src: url('fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova/proximanova-regular-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/proxima-nova/proximanova-regularitalic-webfont.eot');
    src: url('fonts/proxima-nova/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova/proximanova-regularitalic-webfont.woff') format('woff'),
         url('fonts/proxima-nova/proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova/proximanova-regularitalic-webfont.svg#ProximaNovaRgItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/proxima-nova/proximanova-bold-webfont.eot');
    src: url('fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proxima-nova/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova/proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: bold;
    font-style: normal;
}