h1 {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  }

h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.img-responsive {
  margin-bottom: 20px;

  &.pull-left {
    margin-right: 20px;
  }

  &.pull-right {
    margin-left: 20px;
  }
}

a {
  .transition(.1s color linear);
}

blockquote {
  p {
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    font-size: 14px;
    line-height: 20px;
    color: @gray-light;
  }
}

.navbar {
  border-radius: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: @zindex-navbar-fixed;
  background: rgba(0,0,0,0.8);

  @media screen and (max-width: @screen-phone) {
    background: rgba(0,0,0,1);

    .nav {
      a {
        font-weight: bold;
      }
    }
  }
  & + .container {
    margin-top: 80px;
  }
}

a.navbar-brand {
  font-size: 26px;
  &:hover {
    color: white;
  }
}

.navbar-collapse.in {
  .nav {
    float: none;
    a {
      display: block;
      text-align: center;
    }
  }
}

#footer {
  padding-bottom: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: @gray-light;

  .container {
    padding-top: 40px;
    border-top: 1px solid @page-header-border-color;

    a {
      cursor: pointer;
    }
  }
}

#contact-us {
  padding-bottom: 40px;

  h2 , p {
    text-align: center;
  }

  form {
    .center-block();
    width: 75%;
    max-width: 640px;
    text-align: center;


    textarea {
      width: 100%;
    }

    input, textarea {
      margin-bottom: 10px;
    }

  }
}


// Contact alerts

#contact-success,
#contact-error {
  display: none;
  text-align: center;
}

.marketing {
  p {
    max-width: 390px;
    margin-bottom: 30px;
  }

  .inner {
    max-width: 390px;
    margin: 0 auto;
  }
}

form {
  input[type="text"],
  input[type="email"],
  textarea.form-control,
  .btn  {
    border-radius: @border-radius-large;
    font-size: @font-size-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    height: 38px;
  }

  &#contact-form {
    .btn {
      min-width: 240px;
    }

    textarea {
      height: auto;
    }
  }
}

#contact-us {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: @border-radius-larger;
  margin-top: 20px;
}

.jumbotron {
  p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }
}