// Homepage styles

.marketing {
  .clearfix();
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @page-header-border-color;

  h2 {
    text-align: center;
  }

  .testimonial {
    .make-row();

    img {
      .col-xs-3;
      padding: 15px;
      margin-top: -15px;
      border-radius: 500px;
    }

    blockquote {
      .col-xs-9;
    }
  }

  .form-inline {
    text-align: center;

    .form-control {
      // width: 290px;
    }
  }

  .screenshot {
    border: 1px solid #CCC;
    border-radius: @border-radius-larger;

  }
}

.homepage-login {
  background: @brand-primary;
  // border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: @border-radius-larger;

  form {
    margin: 0 auto;
    max-width: 640px;
    .clearfix();

    .alert {
      text-align: center;
    }

    input[type="email"] {
      text-align: left;
      border-color: @brand-primary;

      &:focus {
       color: #000;
       border-color: #000;
      }
    }

    input,
    .btn {
      margin: 0 !important;
    }

    .btn {
      background: black;
    }

    .row {
      div:first-child {
        @media screen and (max-width: @screen-tablet) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#book-promo {
  h2 {
    text-align: center;
  }
  p {
    margin-top: 30px;
  }
  a {
    .btn;
    background: #C00;
    color: white;
    margin-top: 20px;
    &:hover {
      background: black;
      color: white;
    }
  }

}
