// // Login and register styles

// .login {
//   min-height: 500px;

//   h1, h2 {
//     text-align: center;
//   }

//   form {
//     .center-block();
//     text-align: center;

//     width: 320px;
//     margin-top: 20px;

//     .btn {
//       margin: 0px 0 30px 0;
//       width: 100%;
//     }
//   }
// }