<div class="jumbotron">
  <h1>Disciplined Entrepreneurship</h1>
  <p>is a book for entrepreneurs written by Bill Aulet,
  Managing Director of <em>Martin Trust Center for MIT Entrepreneurship</em>.
  The book and framework described in it inspired this set of tools,
  created by entrepreneurs for entrepreneurs.</p>
</div>

<section class="marketing">
  <div class="row">
    <div class="col-sm-4">
      <div class="inner">
        <h2>The book</h2>
        <img src="/images/book-cover.png" width="390" height="260" alt="Disciplined Entrepreneurship book cover" title="Disciplined Entrepreneurship: 24 Steps to a Successful Startup" class="img-responsive">

        <p><strong>Disciplined Entrepreneurship</strong> will change the way people think about entrepreneurship. This book shows how innovation-driven entrepreneurship can be broken down into discreet behaviors and processes which can be taught to the intelligent, hardworking, people using this book. <a href="http://www.disciplinedentrepreneurship.com" target="blank">More details...</a></p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="inner">
        <h2>The framework</h2>
        <img src="/images/framework.png" width="390" height="260" alt="24 Steps Journey Illustration" title="The Framework" class="img-responsive">

        <p>The Disciplined Entrepreneurship framework consist of 24 steps which include market segmentation, quantifying the value proposition, defining your core, mapping the process to acquire a paying customer, testing key assumptions, developing a product plan, and more.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="inner">
        <h2>The toolbox team</h2>
      <img src="/images/team.png" width="390" height="260" alt="Marius Ursache & Eddie Vlăgea" title="Marius Ursache & Eddie Vlăgea" class="img-responsive">

        <p>We're <a href="https://twitter.com/MariusUrsache" target="blank">Marius</a> and <a href="https://twitter.com/creativityhurts" target="blank">Eddie</a>, two guys passionate about entrepreneurship, design and technology. We're applying the DE24 principles in our process and we're creating this tool for ourselves first. We'd love to hear your suggestions and ideas for this toolbox—contact us using the form below.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact-us">
  <h2>Contact us</h2>
  <p>We'd love to hear what you think about the toolbox, and what else you would need in it. </p>

  <form class="form-inline" id="contact-form" name="contact" method="post" class="well">
    <fieldset>
      <div id="contact-error" class="alert alert-danger">
        <strong>Sorry!</strong> Something went wrong, please check and try again.
      </div>

      <div id="contact-success" class="alert alert-success">
        <strong>Thank you!</strong> We'll get back to you soon.
      </div>

      <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
      <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
      <textarea name="message" id="message" class="form-control" id="" cols="30" rows="10" placeholder="Type message in here"></textarea>

      <button type="submit" class="btn btn-primary">Send</button>
    </fieldset>
  </form>

  <script>

  $('#contact-form').submit(function(evt) {
      evt.preventDefault();
      var uvSubdomain = "detoolbox";
      var uvKey = "AbOeJPWBW1XUgQiws6uWMQ";

      // Grab the data we need to send
      var message = $('#message').val();
      var subject = "DETookit contact message";
      var name = $('#name').val();
      var email = $('#email').val();

      // Execute the JSONP request to submit the ticket
      $.jsonp({
          url: 'https://' + uvSubdomain + '.uservoice.com/api/v1/tickets/create_via_jsonp.json?callback=?',
          data: {
              client: uvKey,
              ticket: {
                  message: message,
                  subject: subject
              },
              name: name,
              email: email
          },
          success: function(data) {
              $("#contact-success").fadeIn();
              $("#contact-error").fadeOut();
          },
          error: function(d, msg) {
            $("#contact-success").fadeOut();
            $("#contact-error").fadeIn();
            console.log(d);
            console.log(msg);
          }
      });

      return false;
  });
  </script>


</section>