<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo 'index' class='navbar-brand'}}DE Toolbox{{/linkTo}}
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#/" {{action jumpToLogin}} onClick="var _gaq = _gaq || []; _gaq.push(['_trackEvent', 'Signup', 'Beta signup', 'Enter email to signup ', '1']);" >Signup</a></li>
        <li><a href="#/" {{action jumpToAbout}}>About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>

<footer id="footer">
  <div class="container">
    <p>Terms & conditions: We will keep all information confidential, never send you unsolicited (spam) email, and strive not to bother you at all, so you can focus on your startup. If you want a more comprehensive Terms & conditions page, written in legalese, or want to get in touch with us for any other reason, please use the <a {{action jumpToContact}} >contact form</a></p>
  </div>
</footer>