<div class="jumbotron">
  <h1>Disciplined Entrepreneurship Toolbox</h1>
  <p>A set of checklists and tools to help you stay on track, and grow a healthy and successful startup.<br />Based on the “Disciplined Entrepreneurship” book and framework used by Bill Aulet, Managing Director of the <em>Martin Trust Center for MIT Entrepreneurship</em> with hundreds of students at MIT and around the world.</p>

  <img src="/images/de-toolbox.jpg" class="img-responsive" width="1170" height="500" alt="Disciplined Entrepreneurship Toolbox illustration" title="Disciplined Entrepreneurship Toolbox is an effective way to keep track of your startup's progress.">
</div>

<section id="login" class="homepage-login">

  <p class="text-center">We're launching soon! If you want in early, leave your email address and we'll send you an invitation.</p>


  <style type="text/css">
    div.mce_inline_error {
      background-color: #c00;
      border-color: #bd001f;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: relative;
    }
  </style>

  <form action="http://creativithurts.us7.list-manage.com/subscribe/post?u=441be4a5d5bf2ecfde0603819&amp;id=8f9cea4eeb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email address" id="mce-EMAIL">
      </div>

      <div class="col-sm-4">
        <input type="submit" value="Request an invite" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block "></div>
    </div>
  </form>
  <script type="text/javascript">
  var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
  try {
      var jqueryLoaded=jQuery;
      jqueryLoaded=true;
  } catch(err) {
      var jqueryLoaded=false;
  }
  var head= document.getElementsByTagName('head')[0];
  if (!jqueryLoaded) {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
      head.appendChild(script);
      if (script.readyState && script.onload!==null){
          script.onreadystatechange= function () {
                if (this.readyState == 'complete') mce_preload_check();
          }
      }
  }

  var err_style = '';
  try{
      err_style = mc_custom_error_style;
  } catch(e){
      err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
  }
  var head= document.getElementsByTagName('head')[0];
  var style= document.createElement('style');
  style.type= 'text/css';
  if (style.styleSheet) {
    style.styleSheet.cssText = err_style;
  } else {
    style.appendChild(document.createTextNode(err_style));
  }
  head.appendChild(style);
  setTimeout('mce_preload_check();', 250);

  var mce_preload_checks = 0;
  function mce_preload_check(){
      if (mce_preload_checks>40) return;
      mce_preload_checks++;
      try {
          var jqueryLoaded=jQuery;
      } catch(err) {
          setTimeout('mce_preload_check();', 250);
          return;
      }
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
      head.appendChild(script);
      try {
          var validatorLoaded=jQuery("#fake-form").validate({});
      } catch(err) {
          setTimeout('mce_preload_check();', 250);
          return;
      }
      mce_init_form();
  }
  function mce_init_form(){
      jQuery(document).ready( function($) {
        var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
        var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
        $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
        options = { url: 'http://creativithurts.us7.list-manage.com/subscribe/post-json?u=441be4a5d5bf2ecfde0603819&id=8f9cea4eeb&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                      beforeSubmit: function(){
                          $('#mce_tmp_error_msg').remove();
                          $('.datefield','#mc_embed_signup').each(
                              function(){
                                  var txt = 'filled';
                                  var fields = new Array();
                                  var i = 0;
                                  $(':text', this).each(
                                      function(){
                                          fields[i] = this;
                                          i++;
                                      });
                                  $(':hidden', this).each(
                                      function(){
                                          var bday = false;
                                          if (fields.length == 2){
                                              bday = true;
                                              fields[2] = {'value':1970};//trick birthdays into having years
                                          }
                                        if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                          this.value = '';
                        } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                          this.value = '';
                        } else {
                            if (/\[day\]/.test(fields[0].name)){
                                                this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                            } else {
                                                this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                            }
                                        }
                                      });
                              });
                          $('.phonefield-us','#mc_embed_signup').each(
                              function(){
                                  var fields = new Array();
                                  var i = 0;
                                  $(':text', this).each(
                                      function(){
                                          fields[i] = this;
                                          i++;
                                      });
                                  $(':hidden', this).each(
                                      function(){
                                          if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                          this.value = '';
                        } else {
                            this.value = 'filled';
                                        }
                                      });
                              });
                          return mce_validator.form();
                      },
                      success: mce_success_cb
                  };
        $('#mc-embedded-subscribe-form').ajaxForm(options);


      });
  }
  function mce_success_cb(resp){
      // $('#mce-success-response').hide();
      $('#successModal').modal();
      $('#mce-error-response').hide();
      if (resp.result=="success"){
          $('#mce-'+resp.result+'-response').show();
          $('#mce-'+resp.result+'-response').html(resp.msg);
          $('#mc-embedded-subscribe-form').each(function(){
              this.reset();
        });
      } else {
          var index = -1;
          var msg;
          try {
              var parts = resp.msg.split(' - ',2);
              if (parts[1]==undefined){
                  msg = resp.msg;
              } else {
                  i = parseInt(parts[0]);
                  if (i.toString() == parts[0]){
                      index = parts[0];
                      msg = parts[1];
                  } else {
                      index = -1;
                      msg = resp.msg;
                  }
              }
          } catch(e){
              index = -1;
              msg = resp.msg;
          }
          try{
              if (index== -1){
                  $('#mce-'+resp.result+'-response').show();
                  $('#mce-'+resp.result+'-response').html(msg);
              } else {
                  err_id = 'mce_tmp_error_msg';

                  html = '<div id="'+err_id+'" style="'+err_style+'" class="alert alert-danger">strong>That\'s cute, but it\'s totally wrong!</strong> '+msg+'</div>';

                  var input_id = '#mc_embed_signup';
                  var f = $(input_id);
                  if (ftypes[index]=='address'){
                      input_id = '#mce-'+fnames[index]+'-addr1';
                      f = $(input_id).parent().parent().get(0);
                  } else if (ftypes[index]=='date'){
                      input_id = '#mce-'+fnames[index]+'-month';
                      f = $(input_id).parent().parent().get(0);
                  } else {
                      input_id = '#mce-'+fnames[index];
                      f = $().parent(input_id).get(0);
                  }
                  if (f){
                      $(f).append(html);
                      $(input_id).focus();
                  } else {
                      $('#mce-'+resp.result+'-response').show();
                      $('#mce-'+resp.result+'-response').html(msg);
                  }
              }
          } catch(e){
              $('#mce-'+resp.result+'-response').show();
              $('#mce-'+resp.result+'-response').html(msg);
          }
      }
  }

  </script>
  <!--End mc_embed_signup-->
</section>


<section class="marketing">
  <h2>What is it good for?</h2>

  <div class="row">
    <div class="col-sm-4">
      <div class="inner">
        <img src="/images/checklist.png" class="img-responsive screenshot" width="370" height="100" alt="placeholder" title="Checklists">
        <h3>Checklists</h3>
        <p>Track the progress of your startup development using the Disciplined Entrepreneurship framework and a set of detailed checklists.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="inner">
        <img src="/images/collaborate.png" class="img-responsive screenshot" width="370" height="100" alt="placeholder" title="Collaborative">
        <h3>Collaboration</h3>
        <p>Add notes to each step, share with your whole team and have a clear understanding of where you are and what's next.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="inner">
        <img src="/images/persona-designer.png" class="img-responsive screenshot" width="370" height="100" alt="placeholder" title="Tools (Persona Designer)">
        <h3>Smart tools (in future versions)</h3>
        <p>Brainstorm markets and customer segments, define business models and many more, using other apps in our toolbox.</p>
      </div>
    </div>
  </div>
</section>

<section class="marketing">
  <h2>What others say about the book and framework</h2>

  <div class="row">

    <div class="col-sm-6">
      <div class="testimonial">
        <img src="/images/brad-feld.jpg" width="60" height="60" alt="Brad Feld" title="Brad Feld" class="img-responsive">
        <blockquote>
          <p>While I am not a big fan of business plans, I am a big fan of the business planning process. This book provides an invaluable comprehensive framework for innovation-driven entrepreneurs to execute the business planning process.</p>
          <footer>
            Brad Feld <br />Managing</em> Director of the Foundry Group, co-founder of TechStars, and creator of the <em>Startup Revolution book series</em>.
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="testimonial">
        <img src="/images/mitch-kapor.jpg" width="60" height="60" alt="Mitch Kapor" title="Mitch Kapor" class="img-responsive">
        <blockquote>
          <p>Entrepreneurship is not only a mindset but a skill set. The 24 Steps presents a practical step-by-step process to channel the creative spirit to maximize the chances of success and ultimate impact.</p>
          <footer>
            Mitch Kapor <br />Founder, Lotus Development Corporation.
          </footer>
        </blockquote>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="testimonial">
        <img src="/images/joi-ito.jpg" width="60" height="60" alt="Joi Ito" title="Joi Ito" class="img-responsive">
        <blockquote>
          <p>Bill and I have had many discussions about entrepreneurship and I really respect his perspective on the topic. While the spirit of entrepreneurship is often about serendipity, the execution is not. This book takes you through a systematic approach to significantly increase your odds of succeeding in making a world changing and sustainable company. I loved the content and the simple nature of the book.</p>
          <footer>
            Joi Ito<br />Director MIT Media Lab
          </footer>
        </blockquote>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="testimonial">
        <img src="/images/brian-halligan.jpg" width="60" height="60" alt="Brian Halligan" title="Brian Halligan" class="img-responsive">

        <blockquote>
          <p>Invaluable. This book superbly summarizes the lessons taught to us at MIT. It is the book I wish I had when we were launching HubSpot six years ago.</p>

          <footer>
            Brian Halligan<br />Co-founder and CEO of Hubspot, author of <em>Inbound Marketing</em>
          </footer>

        </blockquote>
      </div>
    </div>
  </div>

</section>

<section id="book-promo">
  <h2>The Book: Disciplined Entrepreneurship—24 Steps to a Successful Startup</h2>
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/book-cover.png" alt="Disciplined Entrepreneurship book cover" title="Disciplined Entrepreneurship" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <p>This book introduces the strategy used by MIT Students! Disciplined Entrepreneurship will change the way people think about entrepreneurship. Many believe that it cannot be taught, and those who are successful in starting a business are born with something others do not have. This book dispels that myth and shows how innovation-driven entrepreneurship can be broken down into discreet behaviors and processes which can be taught to the intelligent, hardworking, people using this book.</p>
      <a href="http://www.amazon.com/gp/product/1118692284/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1118692284&linkCode=as2&tag=mariursa-20" target="_blank" onClick="var _gaq = _gaq || []; _gaq.push(['_trackEvent', 'Buying', 'Buy book', 'Click to buy book', '1']);">Buy the book</a>
    </div>
  </div>

</section>

<!-- <section class="marketing">
  <h2 class="text-center">Proudly used by</h2>

  <div class="row">
    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

    <div class="col-lg-2">
      <img src="http://placehold.it/180x120" width="180" height="120" alt="placeholder" title="placeholder" class="img-responsive">
    </div>

  </div>
</section>
 -->

<div class="modal fade" id="successModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Awesome!</h4>
      </div>

      <div class="modal-body">
        <img src="/images/success.png" class="img-responsive">
        <p>Thank you for being curious about the Disciplined Entrepreneurship Toolbox.<br />We've sent you an email to confirm your email address. Please reply to it, so that we are able to get back to you as soon as we're ready to launch!</p>
      </div>

      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
      </div>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->