<div class="login">
  <h1>Toolbox Login</h1>
  <h2>Enter your credentials or <a href="#">sign-up</a> for a free account.</h2>

  <form class="login-form">
    <fieldset>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email address">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
      </div>

      {{! <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div> }}
      <button type="submit" class="btn btn-primary">Submit</button>

      <a href="#">Forgot password?</a>
    </fieldset>
  </form>
</div>